mixin slider(name)
	.slider
		.slider__name #{name}
		.slider__left
		.slider__right
		.slider__target
		.slider__value

doctype html
head.no-js
	base(href='./')
	meta(charset='utf-8')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	meta(name='description', content='#{description}')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	link(rel="stylesheet" type="text/css" href="./style.css")

	title #{title}

	//- OG
	meta(property="og:title", content="#{title}")
	meta(property="og:type", content="website")
	meta(property="og:description", content="#{description}")
	meta(property="og:url", content="#{social.url}")
	meta(property="og:image", content="#{social.url}ogimage.jpg")
	meta(property="og:image:width", content="1120")
	meta(property="og:image:height", content="630")
	meta(property="og:site_name", content="#{title}")
	meta(property="og:locale", content="en_US")

	//- Twitter type:summary-large-image
	meta(name="twitter:card", content="summary_large_image")
	meta(name="twitter:site", content="#{social.twitter_user}")
	meta(name="twitter:creator", content="#{social.twitter_user}")
	meta(name="twitter:title", content="#{title}")
	meta(name="twitter:description", content="#{description}")
	meta(name="twitter:image:src", content="#{social.url}ogimage.jpg")

	script(src="https://use.typekit.net/nqn2sfg.js")
	script.
		try{Typekit.load({ async: true });}catch(e){}

body(data-state='loading')

	#supported
		.loading
			.loading__bar
			.loading__dot

		.display
			.display__top
			.display__bottom
			canvas.display-canvas
			.display__about
				.display__caption.content
					:marked
						This demo visualizes [stereographic projection](https://en.wikipedia.org/wiki/Stereographic_projection) of 4D geometries,  
						and was performed as a VJ set at [CHANNEL #13](https://www.super-deluxe.com/room/4021/)

						Using [three.js](http://threejs.org/), [jenn3d](http://www.jenn3d.org)

						Inspired by [Dimensions](http://www.dimensions-math.org/Dim_E.htm), [MPY](http://www.michaelpaulyoung.com/)

						Made by [Baku Hashimoto](http://baku89.com)

				a.about__github(href='https://github.com/baku89/4DVJ' taget='_blank') GitHub


		header.title
			h1.title__wrapper
				.title__textA
				.title__textB
				.title__about
					span ?

		.control
			.control__sliders.control__sliders--left
			.control__keyboard.show-key
				.control__keyboard-row.control__keyboard-row--0
				.control__keyboard-row.control__keyboard-row--1
				.control__keyboard-row.control__keyboard-row--2
			.control__sliders.control__sliders--right

	#unsupported
		.content
			:marked
				# 4DVJ

				Please visit from your pc with a WebGL-enabed browser. (Google Chrome recommended)

				![](./img/4dvj_0.jpg)
				![](./img/4dvj_3.jpg)
				![](./img/4dvj_2.jpg)
				![](./img/4dvj_5.jpg)

				Made by [Baku Hashimoto](http://baku89.com)

	script(src='./lib/three.min.js')
	script(src='bootstrap.js')
